//- Passing in title, genre, genre_books
//- Title is used by layout
//- Genre and genre_books are used within this page

extend layout

block content

  h1 Genre: #{genre.name}

  div(class="indent")

    h4 Books

    dl
      each book in genre_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p This genre has no books

  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre